<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/iconos.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">

</head>

<body>
    <header class="header">
        <div class="logo">
            <img src="/images/logo-mercado-liebre.svg" >
        </div>
        
        <div class="busqueda">
            <input id="buscar" type="text" placeholder="Buscar....">
            <button type="submit">Buscar</button>
        </div>
        
        <div class="icono">
            <i class="fa fa-search"></i>
        </div>
        
        <div class="tipoCompra">
            <p><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>
        
        <nav class="navbar">
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
                <br>
                <li><a href="/register">Creá tu cuenta</a><i class="fa-solid fa-address-card"></i></li>
                <li><a href="/login">Ingresá</a><i class="fa-solid fa-right-to-bracket"></i></i></li>
                <li><a href="#">Mis compras</a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fas fa-bars fa-2x"></i>
        </div>
    </header>
   
    <main>
        <section>
            <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>
        <section>
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <!--iconito de camión-->
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <!--iconito de camión-->
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                class="product_img">
            <!--iconito de camión-->
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Teléfono móvil Samsung Galaxy S10</h4>
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <!--iconito de camión-->
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
        <section>
            <h3>Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <!--iconito de camión-->
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <!--iconito de camión-->
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                class="product_img">
            <!--iconito de camión-->
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Teléfono móvil Samsung Galaxy S10</h4>
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <!--iconito de camión-->
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
    </main>
    
    <footer>
        <div class="piePagina">
        <div>
            <h3>Pagá con tarjeta o en efectivo</h3>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                seguro!</p>
        </div>
        <div>
            <h3>Envío gratis desde $ 2.500</h3>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                Mercado Puntos.</p>
        </div>
        <div>
            <h3>Seguridad, de principio a fin</h3>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre
                protegid@.</p>
        </div>
        <div class="derechoAutor">
            <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
        </div>
    </div>
    </footer>
</body>

</html>

