<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/439c181295.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/styles.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/colors.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/mediaQueryStyle.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>

<body>
    <header class="header">

        <div class="logo-container">
            <div class="logo-bar-container">
                <div class="logo">
                    <a href="/"><img src="/images/logo-mercado-liebre.svg" alt="logo"></a>
                </div>
                <div class="search-button-container">
                    <div class="search-container">
                        <input type="text" placeholder="Buscar producto, marcas...">
                        <button><i class="fas fa-search"></i></button>
                    </div>
                </div>
                
            </div>

            <div class="card-container">
                <i class="fas fa-hand-holding-usd"></i>
                <h4 class="card-title">Comprá en cuotas y sin tarjeta de crédito.</h4>
            </div>
        </div>

        <nav class="menu-container">
            <ul>
                <li>Ofertas</li>
                <li>Tiendas Oficiales</li>
                <li>Vender</li>
                <li>Ayuda</li>
            </ul>
            <ul>
                <li><a href="/register">Creá tu cuenta<i class="fas fa-id-card"></i></a></li>
                <li><a href="/login">Ingresá<i class="fas fa-sign-in-alt"></i></a></li>
                <li>Mis compras<i class="fas fa-shopping-basket"></i></li>
            </ul>
        </nav>

        <div class="burger-container">
            <div class="burger-menu">
                <i class="fas fa-bars"></i>
            </div>
            
        </div>
    </header>

    <main>
        <section>
            <img src="/images/img-home-banner.jpg" width="360" alt="Banner de ofertas">
        </section>
        <section class="ultimavisita">
            <h3>Basado en tu última visita</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <!--iconito de camión-->
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <!--iconito de camión-->
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                class="product_img">
            <!--iconito de camión-->
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Teléfono móvil Samsung Galaxy S10</h4>
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <!--iconito de camión-->
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
        <section class="ofertas">
            <h3>Ofertas</h3>
            <img src="/images/img-cafetera-moulinex.jpg" width="360" alt="Cafetera" class="product_img">
            <!--iconito de camión-->
            <p>$6.770</p>
            <p>40% off</p>
            <h4>Cafetera Moulinex</h4>
            <img src="/images/img-macbook-pro-2019.jpg" width="360" alt="MacBook" class="product_img">
            <!--iconito de camión-->
            <p>$230.000</p>
            <p>20% off</p>
            <h4>MacBook Pro 2019</h4>
            <img src="/images/img-samsung-galaxy-s10.jpg" width="360" alt="Teléfono Móvil Samsung Galaxy"
                class="product_img">
            <!--iconito de camión-->
            <p>$70.500</p>
            <p>10% off</p>
            <h4>Teléfono móvil Samsung Galaxy S10</h4>
            <img src="/images/img-tv-samsung-smart.jpg" width="360" alt="SmartTv Samsung" class="product_img">
            <!--iconito de camión-->
            <p>$23.200</p>
            <p>5% off</p>
            <h4>SmartTv Samsung 43"</h4>
        </section>
    </main>

    <footer>
        <div class="footer_container">
            <div class="pago_tarjeta">
                <img id="icono_footer" src="/images/credit_card.svg" alt="tarjeta_credito">
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p id="parrafo_footer">Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div class="evio_gratis">
                <img id="icono_footer" src="/images/gift_present_4237.svg" alt="tarjeta_credito">
                <h3>Envío gratis desde $ 2.500</h3>
                <p id="parrafo_footer">Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div class="seguridad">
                <img id="icono_footer" src="/images/gui_user_security_icon_158347.svg" alt="tarjeta_credito">
                <h3>Seguridad, de principio a fin</h3>
                <p id="parrafo_footer">¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
            </div>
            <div class="derechos_autor">
                <p>Copyright © 1999-2023 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>

</html>