.logo img{
    width: 100px;
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 15px;
}
.busqueda{
    margin-bottom: 2px;
    margin-left: 15px;
}
.icono {
    border: 0.01em solid black;
    display:inline-block;
    margin-left: 15px;
    margin-right:auto;
    margin-top: auto;
    text-align:center;
    background-color:#ebebeb;
}
.tipoCompra {
    text-align:center;
}
.burger-menu i{
    color: #ebebeb;
    border: 0.7em solid #1259c3;
    border-radius: 5px;
    background: #1259c3;
    margin-bottom: 15px;
    margin-top: 15px;
    margin-left: 140px;
    
}