/* Tablet */
@media (min-width: 768px) {
  .logo-container {
    flex-direction: row;
  }
  .logo-bar-container {
    width: 66vw;
  }

  .logo {
    width: 50vw;
    padding: 4vh 1vh 4vh 6vh;
    height: 20vh;
    display: flex;
    align-items: center;
  }

  .serch-button-container {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
  }

  .card-container {
    display: flex;
    width: 33vw;
    padding: 0;
    justify-content: center;
    align-items: center;
  }
  .card-title {
    font-size: 12px;
  }

  .burger-container {
    display: none;
  }

  .menu-container {
    display: flex;
    justify-content: space-between;
    padding: 2vh 4vh 2vh 4vh;
  }

  ul {
    display: flex;
    width: 38%;
    justify-content: space-between;
    font-size: 12px;
  }

  ul a i {
    padding: 3px;
  }

  li i {
    padding: 3px;
  }

  input {
    width: 95%;
    height: 4vh;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
  }

  button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
    height: 4vh;
  }
  /* ****Productos**** */

  .ultimavisita,
  .ofertas {
    height: 860px;
  }

  .productos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .productos article {
    width: 49%;
  }

  article {
    height: 26em;
    transition: all 0.4s ease-in;
  }

  .articuloPrincipal h4 {
    position: relative;
    bottom: 40px;
    z-index: -1;
    opacity: 0;
    transition: all 0.4s ease-in;
  }

  article:hover {
    box-sizing: 0 0 10px rgb(100, 100, 100);
    height: 27em;
  }

  article:hover .articuloPrincipal h4 {
    position: relative;
    bottom: 0;
    z-index: 1;
    opacity: 1;
  }
}
/* Desktop */
@media (min-width: 1024px) {
  .ultimavisita,
  .ofertas {
    height: 295px;
  }

  .productos article {
    width: 24%;
  }

  .precio,
  .descuento, .descripcion {
    font-size: 14px;
  }

  article {
    height: 18.5em;
  }

  article:hover {
    height: 19.5em;
  }
}
/* Tv */
@media (min-width: 1200px) {
  .ultimavisita,
  .ofertas {
    height: 380px;
  }

  article {
    height: 25em;
  }

  article:hover {
    height: 26em;
  }
}
