/* ***** Reset general ***** */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--grisClaro);
}

a {
  text-decoration: none;
  color: var(--negro);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}

h3 {
  color: var(--grisOscuro);
}
/* ***Header*** */
header {
  background-color: var(--amarillo);
  display: flex;
  flex-direction: column;
}

.logo-container {
  display: flex;
  flex-direction: column;
}
.menu-container {
  display: none;
}
.burger-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 86px;
}

.logo-bar-container {
  display: flex;
}

.card-container {
  padding: 15px;
  display: flex;
  justify-content: center;
}

.logo {
  width: 50%;
  padding: 4vh 1vh 4vh 6vh;
  height: 20vh;
  display: flex;
  align-items: center;
}

.search-button-container {
  display: flex;
  width: 50%;
  justify-content: center;
  align-items: center;
}

.search-container {
  display: flex;
  width: 90%;
  height: 25px;
}

.card-title {
  text-align: center;
  font-family: "Roboto";
  font-weight: 400;
}

input {
  width: 95%;
  height: 6vh;
  border: none;
  background-color: var(--blanco);
  border-radius: 5px 0 0 5px;
}

button {
  width: 15%;
  padding: 1px;
  border: none;
  background-color: var(--blanco);
  border-radius: 0 5px 5px 0;
  height: 6vh;
}

.burger-menu {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 4px;
  border-radius: 5px;
  color: var(--blanco);
  background-color: var(--celeste);
}

/* ***Fin header*** */

/* ***Inicio footer*** */

.footer_container {
  background-color: var(--blanco);
}

.pago_tarjeta {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evio_gratis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.seguridad {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.derechos_autor {
  padding: 10vh 0 6vh 7vw;
  color: var(--grisOscuro);
}

#icono_footer {
  width: 10vw;
  margin-top: 10vh;
  margin-bottom: 2vh;
}

#parrafo_footer {
  text-align: center;
  padding: 0 15vw 0 15vw;
  color: var(--grisOscuro);
}
