* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: var(--grisClaro);
}

a {
  text-decoration: none;
  color: var(--negro);
}

ul {
  list-style: none;
}

img {
  width: 100%;
}

html {
  font-family: "Roboto", sans-serif;
}
/* ***Header*** */
header {
    background-color: var(--amarillo);
    display: flex;
    flex-direction: column;

}
.logo-container {
display: flex;
flex-direction: column;
}
.menu-container {
    display: none;

}
.burger-container {
display: flex;
justify-content: center;
}

.logo-bar-container {
display: flex;
}

.card-container {
padding: 15px;
}

.logo {
width: 50%;
padding: 10px;
}

.search-button-container {
display: flex;
width: 50%;
justify-content: center;
align-items: center;
}

.search-container {
display: flex;
width: 90%;
height: 25px;
}

.card-title {
    font-weight: 400;
    text-align: center;
    font-family: "Roboto";

}

.card-title i {
    margin-right: 10px;
}

input {
    width: 95%;
    border: none;
    background-color: var(--blanco);
    border-radius: 5px 0 0 5px;
}

button {
    width: 15%;
    padding: 1px;
    border: none;
    background-color: var(--blanco);
    border-radius: 0 5px 5px 0;
}

.burger-menu {
    
}

/* ***Fin header*** */
